#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Exec=/bin/chrome
Name=chrome
GenericName=chrome
Comment=Open admin google chrome
Encoding=UTF-8
Terminal=true
Type=Application
Categories=Application;
Name[en_US]=chrome.desktop
