#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Cutter
Exec=/usr/bin/cutter
Icon=/usr/local/share/applications/icons/cutter.png
StartupWMClass=cutter

