#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Postman
Exec=/opt/Postman/Postman
Icon=/usr/local/share/applications/icons/postman.png
StartupWMClass=Postman

